Demo/src/main/resources/countryInfoSubset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) by Roeland Lengers (TMNS BV) -->
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">
	<xs:element name="countryInfoSubset">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="language" type="xs:string" minOccurs="0"/>
				<xs:element name="name" type="xs:string" minOccurs="0"/>
				<xs:element name="capital" type="xs:string" minOccurs="0"/>
				<xs:element name="region" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
